<aside class="col-md-4 col-lg-4 hidden-sm hidden-xs left-side">
    <a href="/" class="logo animated">В индекс</a>
    <p style="color:#f5f5f5; text-align:center; margin-bottom:1em;">Переводы, комиксы, разработка...</p>
    <div class="panel panel-primary">
        {% include navigation.html %}

    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">Мой твиттер</div>
        <a class="twitter-timeline" data-tweet-limit="3" href="https://twitter.com/PHandleman" data-widget-id="536070279681040384">Твиты от @PHandleman</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    </div>
</aside>