@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Condensed');
@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}
body {
  background: #708090 url(../images/warmpattern.jpg) repeat;
  font-family: 'Ubuntu', sans-serif;
}
.logo {
  display: block;
  text-indent: -9999px;
  width: 168px;
  height: 169px;
  background: url('../images/logo.png') 0 0 no-repeat;
  margin: 2em auto;
}
.logo:hover {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
.description-img {
  display: block;
  float: right;
  margin-left: 1em;
  margin-bottom: 1em;
  max-height: 160px;
}
.text-body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  margin-top:1em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  padding-bottom: 1em;
  border-left: 12px solid rgba(0, 0, 0, 0.6);
  border-top: 12px solid rgba(0, 0, 0, 0.6);
  border-right: 12px solid rgba(0, 0, 0, 0.6);
  border-bottom: 12px solid rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;

}
.text-body .content  img{
max-width:100%;
}
.text-body .content {
  padding-top: .6em;
  margin-top: 2em;
}
.text-body .content figure{
display:block;
text-align:center;
}
.text-body .content figure figcaption{
display:block;
font-size:0.8em;
font-weight:bold;
}
.text-body a.header-link {
  color: #333 !important;
}
.text-body a.header-link:hover {
  text-decoration: none;
}
.text-body article {
  padding: 0 1em;
  border-left: 3px solid  #38C2A5;
  margin-bottom: 2em;
}
.text-body article h1 {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-family: 'Ubuntu Condensed', sans-serif;;
  font-weight: 600;
  margin-bottom: .6em;
}
.text-body article h2,
.text-body article h3 {
  font-family: 'Ubuntu Condensed', sans-serif;;
}
.text-body article p {
  text-indent: 1em;
}
.text-body article .more {
  display: block;
  margin-left: -19px;
  padding-left: 16px;
  border-left: 3px solid  #38C2A5;
  float: left;
}
.text-body article .more:hover {
  border-left: 3px solid  #F66B54;
}
.main-header {
  padding-top: 1em;

  background: #1FB4DA;
  width: 100%;
position: absolute;
margin-left: -15px;
border-bottom:solid 2px #F5BC53;
}
.main-header h1 {
  margin-top: 0;
}
.main-header h1 .text-node {
  display: block;
  line-height: 1.5em;
  font-family: 'bender',Helvetica, sans-serif;
  color: #f5f5f5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 56px;
  margin-left: 0.5em;
}
.main-header h1 .tag {
  display: none;
  color: #C82828;
  text-shadow: none;
  font-size: 18px;
  line-height: 1.5em;
}
.main-header h1 .greeny {
  color: #718C3A;
}
.left-side {
  display: block;
  margin-left: -12px;
  border-right: 12px solid rgba(0, 0, 0, 0.6);
  border-bottom: 12px solid rgba(0, 0, 0, 0.6);
  border-top: 12px solid rgba(0, 0, 0, 0.6);
  background: #1FB4DA;
  background: #38C2A5;
  background: #708090;
  background: #2F343A;
  margin-top: 4em;
  -webkit-border-top-right-radius: 3px;
  -moz-border-top-right-radius: 3px;
  -ms-border-top-right-radius: 3px;
  -o-border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-bottom-right-radius: 3px;
  -ms-border-bottom-right-radius: 3px;
  -o-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
}
.left-side .panel-heading {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  background: #F6BA50;
  background: #1FB4DA;
}
.left-side .panel-primary {
  border-color: #F6BA50;
  border-color: #1FB4DA;
}
.left-side .panel {
  margin-top: 1.8em;
}
.left-side .nav {
  margin-bottom: 2px;
}
.left-side .nav a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.left-side .nav .glyphicon {
  margin-right: 10px;
}
.left-side .nav .input-group {
  padding: 6px;
}
.left-side .nav .active {
  background: #F6BA50;
}
.footer-row {
  position: relative;
}
.footer-row nav {
  display: table;
  margin: 2em auto;
  background: rgba(0, 0, 0, 0.6);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 0.5em 2em 0.5em 0;
}
.footer-row nav a {
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  /* Fix for IE7 */
  *display: inline;
  /* Fix for IE7 */
  margin-left: 2em;
}
.footer-row .to-top-btn {
  background: rgba(0, 0, 0, 0.6);
  color: #38c2a5;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: 40px;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  font-size: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.footer-row .to-top-btn:hover {
  color: #F66B54;
}
.mobile-header .glyphicon {
  margin-right: 1em;
}
.mobile-header .navbar-brand {
  font-family: 'Lobster';
  line-height: 50px;
  font-size: 36px;
}
.sisea-result h3 {
  font-size: 1.5em !important;
}
.post-comments {
  margin-bottom: 3em;
}
.post-comments .tab-content {
  padding-top: 2em;
}
.post-comments .vk-comments > div,
.post-comments .fb-comments-block > .fb_iframe_widget {
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.post-comments .simple-comments {
  padding-left: 2em;
  padding-right: 2em;
}
.post-comments .simple-comments h3 {
  font-size: 18px;
  font-weight: bold;
}
.post-comments .simple-comments .label {
  font-weight: normal;
}
.post-comments .simple-comments .quip-comment-text {
  padding-left: 3em;
  padding-right: 1em;
}
@media (max-width: 968px) {
  body {
    background: #252525;
  }
  .text-body {
    border: 0;
	margin-top: 0;
  }
  .post-comments .simple-comments {
    display: block !important;
	opacity: 1 !important;
  }
  .post-comments .vk-comments {
    display: none !important;
  }
  .post-comments .fb-comments-block {
    display: none !important;
  }
}
@media (max-width: 768px) {
  body {
    background: #252525;
  }
  .footer-row .to-top-btn {
    display: none;
  }
  .text-body {
    border: 0;
  }
  .text-body article {
    padding: 0;
    border: 0;
  }
  .promo-block{
  	display:none;
  }
  .post-comments .
}
@media (max-width: 992px) {
  .text-body {
    margin-top: 0;
  }
}
.postovoy{
display:block;
margin:1em 0 1em 0;
background: #f5f5f5;
padding:1em;
}
.adaptive-image{
	display:block;
	width:100%;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	max-width:300px !important;
	max-height:300px;

}
.text-body h2{
font-weight:600}
