---
layout: default
title: Blog
aside: true

---
{% for post in paginator.posts %}
<article class="annotation">
    <a href="{{ post.url }}" ><h2>{{ post.title }}</h2></a>
    <img src="{{ post.image }}" class="description-img img-thumbnail" alt="{{ post.title }}">
    <section class="description">
        <p>{{ post.description }}</p>
    </section>
    <div style="clear: both;"></div>
    <a href="{{ post.url }}" class="more">Подробнее</a>
    <section class="info "><small><strong> Опубликовано : {{ post.date | date_to_string }}</strong> </small></section>
    <div class="clearfix"></div>
</article>
{% endfor %}
<div class="pagination">

  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="arrow"><span class="previous">предыдущая страница</span></a>
  {% endif %}
  <span class="page_number ">
   <span>Страница </span> {{ paginator.page }} из {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="arrow"><span class="next">следующая страница</span></a>
  {% endif %}
</div>
