---
layout: default
title: Blog
---
{% for post in site.posts %}
<article>
    <a href="{{ post.url }}" class="header-link"><h2>{{ post.title }}</h2></a>
    <img src="{{ post.annotationPicture }}" class="description-img img-responsive img-thumbnail">
    <section class="annotation">
        <p>{{ post.annotation }}</p>
    </section>
    <div style="clear: both;"></div>
    <a href="{{ post.url }}" class="more">Подробнее</a>
    <section class="post-info pull-right text-muted"><small>Опубликовано <strong>{{ post.date | date_to_string }}</strong> </small></section>
    <div class="clearfix"></div>
</article>
{% endfor %}

   