<!DOCTYPE html>
<html >
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="iPprDb-KWbQjQinbLCQXoHgtFcMpLVuZKqwkWiuC9hI" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter51401461 = new Ya.Metrika2({
						id:51401461,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/tag.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51401461" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="/assets/css/styles.css"/>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="/assets/js/bootstrap.min.js"></script>-->
    <script src="/assets/js/jquery.scrollTo.min.js"></script>
    <script src="/assets/js/page.js"></script>

</head>

<body>
<section  role="main" class="container">
    <div class="row mobile-header hidden-md hidden-lg">
        <nav class="navbar navbar-default" role="navigation">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapsed-navbar">
                    <span class="sr-only">Навигация</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Блог.</a>
            </div>

            <div class="collapse navbar-collapse" id="collapsed-navbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>Главная</a></li>
                    <li><a href="/about.html"><span class="glyphicon glyphicon-envelope"></span>Контакты</a></li>
                    <!--<li><a href="http://cv.handleman.ru/" ><span class="glyphicon glyphicon-briefcase"></span>CV и портфолио</a></li>-->
                    <!--<li><a href="#" ><span class="glyphicon glyphicon-bookmark"></span>RSS блога</a></li>-->
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-lg-8 col-md-8 text-body">
            <header role="banner" class="main-header hidden-sm hidden-xs"></header>
            <section role="main" class="content">
                {{ content }}
            </section>
        </div>
        {% include aside.html %}
    </div>
    <div class="row footer-row">
        <footer role="contentinfo" class="col-md-9 col-lg-9 ">
            <nav>
                <a href="/">На главную</a>
                <a href="/about.html">Контакты</a>
            </nav>
            <a href="#" title="В начало страницы" class="to-top-btn"><span class="glyphicon glyphicon-circle-arrow-up">&nbsp;</span></a>
        </footer>

    </div>
</section>
</body>
</html>