<!DOCTYPE html>
<html >
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="iPprDb-KWbQjQinbLCQXoHgtFcMpLVuZKqwkWiuC9hI" />
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
		(function (d, w, c) {
			(w[c] = w[c] || []).push(function() {
				try {
					w.yaCounter51401461 = new Ya.Metrika2({
						id:51401461,
						clickmap:true,
						trackLinks:true,
						accurateTrackBounce:true
					});
				} catch(e) { }
			});

			var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
			s.type = "text/javascript";
			s.async = true;
			s.src = "https://mc.yandex.ru/metrika/tag.js";

			if (w.opera == "[object Opera]") {
				d.addEventListener("DOMContentLoaded", f, false);
			} else { f(); }
		})(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/51401461" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    {% feed_meta %}
    {% seo %}
    <meta name="description" content="{{ site.description }}">
    <meta name="theme-color" content="#198BCD">
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="stylesheet" href="/assets/css/styles.css"/>
</head>

<body>
<div class="container" id="container" >
    <div class="site-content">
        <div class="aside">
            <div class="logo-container">
                <a href="/" class="logo animated" title="На главную">На главную</a>
            </div>
            <nav>
                <ul role="menu" class="nav">
                    {% include navigation.html %}

                </ul>
            </nav>
            <aside>
                {% include aside.html %}
            </aside>
        </div>
        <main class="content">
            {{ content }}
        </main>
        <footer class="footer">
            <nav>
                <ul role="menu" class="nav">
                    <a href="/"  title="На главную">На главную</a>
                {% include navigation.html %}
                </ul>
            </nav>
            <button class="scroll-top" type="button" onclick="window.scrollTop();"> <span class="icon"></span></button>
        </footer>

    </div>
</div>

<script src="/assets/js/page.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5304a714568001ec"></script>
</body>
</html>