---
layout: default
aside: true
---
<article class="article post">
    <h1>{{ page.title }}</h1>
    <div class="addthis_inline_share_toolbox"></div>
    <br>
    <section class="post-content">
        {{content}}
    </section>
    <section class="post-info text-muted">
        <small><img alt="календарь" caption="Дата публикации" src="/assets/event-24px.svg" class="icon" /> : <strong>{{ page.date | date_to_string }}</strong> || </small>
        <small><img alt="глаз" caption="Количество просмотров страницы" src="/assets/visibility-24px.svg" class="icon" /> : <span id="views-number">...</span></small>
    </section>
</article>
<hr />
{% include comments.html %}

