---
layout: default
aside: true
---
<article class="article post">
    <h1>{{ page.title }}</h1>
    <div class="addthis_inline_share_toolbox"></div>
    <br>
    <section class="post-content">
        {{content}}
    </section>
    <hr />
    <section class="post-info text-muted">
        <small class="item"><img alt="календарь" caption="Дата публикации" src="/assets/event-24px.svg" class="icon" /> : <strong>{{ page.date | date_to_string }}</strong></small>
        <small class="item"><img alt="глаз" caption="Количество просмотров страницы" src="/assets/visibility-24px.svg" class="icon" /> : <span id="views-number">...</span></small>
        <small class="item">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" class="like-button" id="like-button"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-2z"/></svg>
             : <span id="likes-number">...</span>
            </small>
    </section>
</article>

{% include comments.html %}

